body {
    background-color: #181a1d;
    background-image: url('./website-icons/pushup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
    
header {
    background-color: rgb(223, 215, 170);
    height: 72px;
    width: 100%;
    padding: 18px 32px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 29px;
    color:#181a1d;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}
nav{
    display: inline-flex;
    background-color: gold;
    position:static;
    height: 60px;
    width: 100%;  
    /* padding: 10px;  */
}
.nav_div1{
    width: 30%;
    height: fit-content;
    display: inline-block; 
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 7px;

}
#logo_id{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    /* align-items: center; */
    /* padding-top: 7px; */
}

.nav_div2{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
ul {
    display: flex;
    list-style: none;
    height: 48px;
    width: 100%;
    padding: 0;
    color: black;
    justify-content: center;
    flex-direction:  row;
    /* position: inline-block;
    vertical-align: center;
    align-items: center; */
}

li{
    margin-right: 30px;
    text-align: center;
}

.nav_div3{
    display: inline-block;
    width: 30%;
    height: 48px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 7px;
    float: right;
}

.cart-prof-menu{
    width: 400px;
    height: 48px;
    /* float:right; */
}

#cart_icon{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    float:right; 
    margin-right: 15px;
}

#profile_icon{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    margin-right: 13px;
    float:right;
}

#menu_icon{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    /* margin-right: 10px; */
    float:right;
} 


/* #bar{
    justify-content: space-around;
} */



/* #subheader{
    background-color: rgba(34, 37, 41, 0.85);
    position: sticky;
    height: 48px;
    width: 100%;
} */







